<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" href="/Public/img/cloud.png">
    <link rel="stylesheet" href="/Public/css/styles.css">
</head>
<body>
<div class="main-content">
    {{>header}}
    <img class="portrait" src="/Public/img/llama.jpg">
</div>
{{>footer}}
</body>
</html>
