<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
    <link rel="icon" href="/Public/img/cloud.png">
    <link rel="stylesheet" href="/Public/css/styles.css">

</head>

<body>
<div class="main-content">
    {{>header}}

    <form>
        <input placeholder="Location">
        <button>Search</button>

    </form>

    <p id="message-1"></p>
    <p id="message-2"></p>


</div>

{{>footer}}
<script type = "text/javascript" src="/Public/js/app.js"></script>
</body>

</html>
src/app.js
